venv/
.idea/
db.sqlite3

django_auth/__pycache__/
django_auth/.env

users/__pycache__/
users/migrations/__pycache__/
users/django_mail/__pycache__/
users/change_password/__pycache__/
users/email_verification/__pycache__/
users/general/__pycache__/
users/reset_password/__pycache__/
users/role_change/__pycache__/
users/google_auth/__pycache__/
users/google_auth/client_secret.json
users/otp/__pycache__/
users/migrations/

compact/__pycache__/
compact/migrations/__pycache__/
compact/django_mail/__pycache__/
compact/change_password/__pycache__/
compact/email_verification/__pycache__/
compact/general/__pycache__/
compact/reset_password/__pycache__/
compact/role_change/__pycache__/
compact/google_auth/__pycache__/
compact/google_auth/client_secret.json
compact/otp/__pycache__/
compact/migrations/