{% extends "users/common/base.html" %}
{% block title %}Mail Sent{% endblock %}

{% block content %}
    <div class="signinform">
        <h1>django-authentication</h1>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info text-center">
                    <h2>Role Change Request Sent</h2>
                    <p class="lead">
                        Your request to change your account role has been submitted.
                    </p>
                    <p>
                        We've sent an email to the administrator with your request details.
                        You will be notified once the request is reviewed and approved.
                    </p>
                    <p>
                        If you have any questions or need to provide more context, feel free to reach out to the admin
                        directly.
                    </p>
                    <div class="mt-4">
                        <a href="{% url 'users:redirect-user' %}">
                            <button class="btn btn-primary btn-block">Go Back</button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
    </div>
{% endblock %}
