{% extends "users/common/base.html" %}
{% block title %} Mail Send {% endblock %}
{% block content %}
<div class="signinform">
    <h1>django-authentication</h1>
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3_info">
                <h2>{{ message }}</h2>
                <a href="{% url 'users:redirect-user' %}"><button class="btn btn-primary btn-block">Go Back</button></a>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->
</div>
{% endblock %}
