{% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

{% for field in form %}
    <div class="mb-3">
        <div class="input-group">

            {{ field }}

            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="invalid-feedback d-block text-start">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div id="{{ field.label.lower }}-message" class="form-text"></div>
    </div>
{% endfor %}

<style>
    .input-group > input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 0 0.375rem 0.375rem 0; /* Rounded right corners only */
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .input-group > input:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }
</style>